name: POS Automation

on:
  schedule:
    - cron: '0 0 * * *'    # 00:00 WIB expire token
    - cron: '0 17 * * 0'   # Minggu 02:00 WIB weekly backup

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:

      - name: Expire Tokens
        run: |
          curl -X POST "${{ secrets.SUPABASE_URL }}/rest/v1/rpc/expire_old_tokens" \
          -H "apikey: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}" \
          -H "Authorization: Bearer ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}"
